@model AdminCorridorSystem.Models.ManageUsersViewModal


@{
    ViewBag.Title = "UpdateUsers";
}
<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <link rel="stylesheet" href="~/Content/Basic.css">
</head>
<body>
        <div class="wrapper contentPadding">

            <!-- Modal Structure -->
            <div id="modal-delete" class="modal">
                <div class="modal-content">
                    <h4>Delete User</h4>
                    <p>Are you sure you whant to delete the user?</p>
                    <div class="modal-footer">
                        
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="deleteTheUser()">Confirm</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </div>

            <div id="modal-error" class="modal">
                <div class="modal-content">
                    <h4>Error</h4>
                    <div class="row">
                        <input id="error" class="alert-info" value=""/>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
                    </div>
                </div>
            </div>

            <div id="modal-edit" class="modal">
                <div class="modal-content">
                    <h4>Edit User</h4>
                    <div class="row">
                        <div class="input-field col s6">
                            <input value=" " id="title" type="text" class="validate">
                            <label class="active" for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input value=" " id="first_name" type="text" class="validate">
                            <label class="active" for="first_name">First Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input value=" " id="last_name" type="text" class="validate">
                            <label class="active" for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input value=" " id="email" type="text" class="validate">
                            <label class="active" for="email">Email</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="editTheUser()">Confirm</a>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </div>

            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><a class="waves-effect waves-light btn" onclick="location.href='@Url.Action("GetUsers", "Home", new RouteValueDictionary(new { type = 1 }))'">Admins</a></li>
                        <li><a class="waves-effect waves-light btn" onclick="location.href='@Url.Action("GetUsers", "Home", new RouteValueDictionary(new { type = 2 }))'">Teachers</a></li>
                        <li><a class="waves-effect waves-light btn" onclick="location.href='@Url.Action("GetUsers", "Home", new RouteValueDictionary(new { type = 3 }))'">Students</a></li>
                    </ul>
                </div>
            </nav>

            <table class="striped responsive-table highlight">
                <thead>
                    <tr>
                        <th data-field="id">Username</th>
                        <th data-field="name">Firstname</th>
                        <th data-field="price">Lastname</th>
                        <th data-field="acttion" style="text-align:right">action</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.ManageUser != null)
                    {
                        foreach (var i in Model.ManageUser)
                        {
                            <tr>
                                <td>@i.UserName</td>
                                <td>@i.FirstName</td>
                                <td>@i.LastName</td>
                                <td>@i.Title</td>
                                <td>@i.Email</td>
                                <td style="text-align:right">
                                    <a data-target="modal-delete" data-id="@i.uId" class="modal-delete waves-effect waves-light btn modal-trigger" style="background-color:#ff0000"><i class="material-icons left">delete_forever</i>Delete</a>
                                    <a data-target="modal-edit" data-id="@i.uId" data-username="@i.UserName" data-firstname="@i.FirstName" data-lastname="@i.LastName" data-email="@i.Email" data-title="@i.Title" class="modal-edit waves-effect waves-light btn topNav modal-trigger"><i class="material-icons left">mode_edit</i>Edit</a>
                                </td>
                            </tr>
                        }
                    }                    


                </tbody>
            </table>
        </div>



        <script>
            var uId = 0;
            var username = "";
            var firstname = "";
            var lastname = "";
            var email = "";
            var title = "";
            var usertype = 0;
            var password = "";
            var confirmpassword = "";
            var errorMessage = ViewData["errorMessage"];

            $(document).on("click", ".modal-error", function () {
                $("#error").val(errorMessage);
            });

            $(document).on("click", ".modal-delete", function () {
                uId = $(this).data('id');
            });

            $(document).on("click", ".modal-edit", function () {
                uId = $(this).data('id');
                username = $(this).data("username");
                firstname = $(this).data("firstname");
                lastname = $(this).data("lastname");
                email = $(this).data("email");
                title = $(this).data("title");
                $("#first_name").val(firstname);
                $("#last_name").val(lastname);
                $("#username").val(username);
                $("#email").val(email);
                $("#title").val(title);
            });

            $(document).on("click", ".modal-register", function () {
            });

            function deleteTheUser()
            {
                location.href = '@Url.Action("DeleteUser", "Home")?uId=' + uId;
            }

            function editTheUser() {
                firstname = $("#first_name").val();
                lastname = $("#last_name").val();
                title = $("#title").val();
                email = $("#email").val();
                location.href = '@Url.Action("EditUser", "Home")?uId=' + uId + '&firstname=' + firstname + '&lastname=' + lastname + '&email=' + email + '&title=' + title;
            }

            function registerUser() {
                username = $("#username").val();
                password = $("#password").val();
                title = $("#confirmpassword").val();
                usertype = Int($("#usertype").val());
                title = $("#title").val();
                firstname = $("#first_name").val();
                lastname = $("#last_name").val();
                email = $("#email").val();
                location.href = '@Url.Action("RegisterUser", "Home")?username=' + username + '&password=' + password + '&confirmpassword=' + confirmpassword + '&usertype=' + usertype + '&title=' + title + '&firstname=' + firstname + '&lastname=' + lastname + '&email=' + email;
            }

            $(document).ready(function () {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                jQuery.noConflict();
                $('.modal-trigger').leanModal();
            });
        </script>

</body>
</html>
