<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    
    <link href='../lib/fullcalendar.css' rel='stylesheet' />
    <link href='../lib/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='../lib/moment.min.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src='../lib/fullcalendar.min.js'></script>

    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="blue lighten-2">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left side-nav blue lighten-2 center" id="slide-out">
            <li><a href="/Home/Index"><i class="icon-white small material-icons">home</i></a></li>
            <li><a href="/Home/Schedule"><i class="icon-white small material-icons">schedule</i></a></li>
            <li><a href="/Home/ManageUsers"><i class="icon-white small material-icons">group</i></a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
            <li><a href="/Home/Index" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home"><i class="material-icons">home</i></a></li>
            <li><a href="/Home/Schedule" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Schedule"><i class="small material-icons">schedule</i></a></li>
            <li><a href="/Home/ManageUsers" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Manage users"><i class="small material-icons">group</i></a></li>
        </ul>

        <span>@HttpContext.Current.Request.Cookies["AccessToken"].Value</span>

    </nav>

    <div>
        @RenderBody()
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>


    <script>
        var username = "";
        var firstname = "";
        var lastname = "";
        var email = "";
        var title = "";
        var usertype = 0;
        var password = "";
        var confirmpassword = "";
        $(".button-collapse").sideNav();

        $('body').on('click', '.button-collapse', function () {
            window.alert('too bad :(. This event will never be triggered because the sideNav is stopping propagation.');
        });
    </script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
