<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <link href='../lib/fullcalendar.css' rel='stylesheet' />
    <link href='../lib/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='../lib/moment.min.js'></script>
    <script src='../lib/jquery.min.js'></script>
    <script src='../lib/fullcalendar.min.js'></script>
    <link rel="stylesheet" href="~/Content/Basic.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-fixed-top topNav">
            <div class="container displaySize">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <a href="/Home/Index" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Home"><span class="material-icons icons">home</span></a>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


    <nav class="navbar navbar-fixed-top topNav">
        <a href="#" data-activates="slide-out" class="button-collapse"><span class="material-icons icons">home</span></a>
        <ul id="slide-out" class="side-nav sideNav">
            <li><a href="/Home/Index"><span class="material-icons icons">home</span>Home</a></li>
            <li><a href="/Home/AddUser"><span class="material-icons icons">person_add</span></a></li>
            <li><a href="/Home/Schedule"><span class="material-icons icons">schedule</span></a></li>
            <li><a href="/Home/ManageUsers"><span class="material-icons icons">group</span></a></li>
        </ul>

    </nav>




    <div class="container body-content something">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <div>
        <ul id="slide-out" class="side-nav fixed sideNav">
            <li style="padding-top:50px">
                <a href="/Home/Index" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Home"><span class="material-icons icons">home</span></a>
            </li>
            <li>
                <a href="/Home/AddUser" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Add user"><span class="material-icons icons">person_add</span></a>
            </li>
            <li>
                <a href="/Home/ManageUsers" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Manage users"><span class="material-icons icons">group</span></a>
            </li>
        </ul>
    </div>


    <script>
        $(".button-collapse").sideNav();

        $('body').on('click', '.button-collapse', function () {
            window.alert('too bad :(. This event will never be triggered because the sideNav is stopping propagation.');
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
